user {{ nginx_user }};
worker_processes auto;
error_log {{ nginx_error_log }} warn;
pid /var/run/nginx.pid;

events {
    worker_connections {{ worker_connections }};
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
    sendfile on;
    keepalive_timeout {{ keepalive_timeout }};
    
    include /etc/nginx/conf.d/*.conf;
}

server {
    listen {{ http_port }} default_server;
    server_name {{ server_name }};

    root {{ web_root }};
    index index.html index.htm;

    access_log {{ nginx_access_log }};
    error_log {{ nginx_error_log }};

    location / {
        try_files $uri $uri/ =404;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/html;
    }
}