server {
    listen {{ item.http_port }} default_server;
    server_name {{ item.server_name }};

    root {{ item.web_root }};
    index index.html index.htm;

    access_log {{ item.nginx_access_log }};
    error_log {{ item.nginx_error_log }};

    location / {
        try_files $uri $uri/ =404;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/html;
    }
}